body {
    background:#FEF0D8;
    margin: auto;
    max-width: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    word-wrap: break-word;
}

h2, h3 {
    color:#B800A5;
}

h1 {
    color:#B800A5;
    text-align: center;
}

nav {
    padding: 2%;
    text-align: right;
    position: relative;
    width: 100%;
    height: auto;
    background: #EC9909;
    margin-top: 2%;
    margin-bottom: 4%;
    box-shadow: black 0 10px 20px -10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

input[type=submit] {
    background: #188C7C;
    border-radius: 999px;
    box-shadow: black 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 3px 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin: 0.3em;
}

input[type=text] {
    width: 30%;
    padding: 5px 10px;
    margin: 8px 0;
    border-radius: 4px;
    border-width: 1px;
}

input[type=password] {
    width: 30%;
    padding: 5px 10px;
    margin: 8px 0;
    border-radius: 4px;
    border-width: 1px;
}

textarea {
    width: 50%;
    padding: 5px 10px;
    margin: 8px 0;
    border-radius: 4px;
}

select {
    padding: 5px 7px;
    margin: 8px 0;
    border-radius: 4px;
    font-size:medium;
    background:white;
}

img {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}

hr {
    border-top: 1px solid #B800A5;
}

a {
    background: #188C7C;
    color: white;
    border-radius: 999px;
    box-shadow: black 0 10px 20px -10px;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 3px 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin: 0.3em;;
}

.right_align {
    text-align: right;
}

.lists {
    background:#fff8fe;
    color:rgb(31, 30, 30);
    position: relative;
    padding: 2%;
    width: 100%;
    height: auto;
    box-shadow: black 0 10px 20px -10px;
    border-radius: 4px;
}

.restaurant {
    background:#fff8fe;
    color:rgb(31, 30, 30);
    position: relative;
    padding: 2%;
    width: 100%;
    height: auto;
    box-shadow: black 0 10px 20px -10px;
    border-radius: 4px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    background: #0F574E;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: black 0 10px 20px -10px;
    border-radius: 4px;
}