<h1>where we dine</h1>

<p>Restaurant review app - Database application study project at University of Helsinki</p>
<h2>the restaurants</h2>

{% for restaurant in restaurants %}
    <hr>
    <b>{{ restaurant.name }}</b><br>
    <br>
    <a href="/reviews/{{ restaurant.id }}">View the reviews</a>
    <hr>
{% endfor %}

<p>
    Amount of restaurants: {{ count }}
<p>



{% if session.username %}
    You are logged in as {{ session.username }}. <br>
    <a href="/logout">Log out</a>
    
    {% if is_admin == True %}
        <a href="/new-restaurant">Add a restaurant</a>
    {% endif %}

{% else %}
    <a href="/login">Log in</a>
{% endif %}
