<h1>where we dine</h1>
{% if session.username %}
    <p>You are logged in as {{ session.username }}. <a href="/user/{{ user_id }}">Go to your page</a></p><br>  
    <a href="/logout">Log out</a>
{% else %}
    <a href="/login">Log in</a>
{% endif %}
<h2>the restaurants</h2>
{% if session.username %}
    {% if is_admin == True %}
        <a href="/new-restaurant">Add restaurants</a><br>
        <a href="/cuisines">Add cuisines</a><br>
    {% endif %}
{% endif %}
{% for restaurant in restaurants %}
    <hr>
    <b>{{ restaurant.name }}</b><br>
    <br>
    <a href="/reviews/{{ restaurant.id }}">View the reviews</a>
    <hr>
{% endfor %}
<p>Amount of restaurants: {{ count }}</p><br>
<p>Restaurant review app - Database application study project at University of Helsinki</p>