<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
        <title>where we dine</title>
    </head>

<body>
<div class="header">
<h1>where we dine</h1>
</div>

<form action="/login" method="post">
    Username: <input type="text" name="username" required>
    <p>
    Password: <input type="password" name="password" required>
    <p>
    <input type="submit" value="Log in">
    </form>
    Don't have an account? <a href="/register">Create one here</a><br>
    <br>
    <a href="/">Back to front page</a>
</body>
</html>