<h1>Add a restaurant</h1><br>
{% if is_admin == True %}
    <form action="/new-restaurant" method="POST">
        <p>Name of restaurant: <br>
            <input type="text" name="name" minlength="1" maxlength="30" required>
        </p>
        <p> Restaurant info: <br>
            <textarea name="info" rows="6" cols="50" maxlength="2000" required></textarea>
        </p>
        <p>Restaurant's web address: <br>
            <input type="text" name="web_link" minlength="6">
        </p>
        <p>City: <br>
            <input type="text" name="city" required>
        </p>
        <p>Choose cuisines:</p>
        {% for cuisine in cuisines %}
        <input type="checkbox" id="cuisine" name="cuisine" value={{ cuisine.cuisine }}>
        <label for="cuisine"> {{ cuisine.cuisine }}</label><br>
        {% endfor %}
        <br>
        <input type="submit" value="Submit restaurant">
    </form>
{% else %}
    <p>You do not have rights to view this page</p>
{% endif %}
<a href="/">Back to front page</a>