<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
        <title>where we dine</title>
    </head>

<body>
<div class="header">
<h1>where we dine</h1>
</div>

{% if session.username %}
<form action="/new-review/{{ restaurant.id }}" method="POST">
    <p>Write your review: <br>
    <textarea name="review" rows="6" cols="50" maxlength="2000" required></textarea></p>
    <br>
    <p>Score: <br>
        <input type="number" name="score" min="1" max="10" required>
    </p>
    <p>Date of visit: <br>
        <input type="date" name="visited" min="1900-01-01" required>
    </p>

    <input type="submit" value="Submit review">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
    <p><a href="/login">Log in</a> to submit a review. </p>
{% endif %}
<a href="/">Back to front page</a>
</body>
</html>