<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
        <title>where we dine</title>
    </head>
    <body>
        <div class="header">
            <img src="/static/logo.png" alt="header">
        </div>
        <nav>
            <a href="/">Home</a>
        </nav>
        <h2>REGISTER</h2>
        {% if session.username %}
            <p>You are logged in and have already registered.</p>
        {% else %}
            <div class="lists">
                <form action="/register" method="post">
                    <p>Username: <br><input type="text" name="username" minlength="2" maxlength="20" required></p>
                    <p>Password: <br><input type="password" name="password1" minlength="6" maxlength="20" required></p>
                    <p>Confirm password: <br><input type="password" name="password2" minlength="6" maxlength="20" required></p>
                    <input type="submit" value="Create account">
                </form><br>
            </div>
        {% endif %}
            <br>
        <div class="footer">
            <p>Restaurant review app - Database application study project at University of Helsinki</p>
        </div>
    </body>
</html>