
<h2>{{ restaurant.name }}</h2>
<p>
    {{ restaurant.info }}<br>
    <br>
    {{ restaurant.city }}<br>
    <br>
    {% if restaurant.web_link != '' %}
        <a href="{{ restaurant.web_link }}">Go to restaurants own web page</a>
    {% endif %}
</p>

{% for review in reviews %}
    <hr>
    Review by {{ review.username }}<br>
    <br>
    Review: {{ review.review }}<br>
    <br>
    Score: {{ review.score }}/10 <br>
    <br>
    Date of visit: {{ review.visited }}<br>
    <br>
    Review submitted at {{ review.sent_at }}
    <hr>
{% endfor %}
<p>Amount of reviews: {{ count }}</p> 
<br>
{% if session.username %}
    <a href="/new-review/{{ restaurant.id }}">Write a review here</a><br>
    <p>You are logged in as {{ session.username }}.</p>
{% else %}
    <a href="/login">Log in</a> to write a review<br>
{% endif %}
<br>

<a href="/">Back to front page</a>