<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
        <title>where we dine</title>
    </head>

<body>
<div class="header">
<h1>where we dine</h1>
</div>

<h2>User page</h2>

<script LANGUAGE="JavaScript">
    <!--
    function confirmSubmit()
    {
    var agree=confirm("Do you want to delete?");
    if (agree)
     return true ;
    else
     return false ;
    }
    // -->
</script>

<p>You are logged in as {{ session.username }}.</p><br>  
<p>Your reviews:<br>
</p>
{% for review in reviews %}
    <hr>
    Restaurant {{ review.name }}<br>
    <br>
    Review: {{ review.review }}<br>
    <br>
    Score: {{ review.score }}/10 <br>
    <br>
    Date of visit: {{ review.visited }}<br>
    <br>
    Review submitted at {{ review.sent_at }}<br>
    <br>
    <form action="/delete_review/{{ review.id }}" method=POST>
        <input type="submit" value="Delete review" name="delete" onClick="return confirmSubmit()">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <hr>
{% endfor %}
<p>Amount of reviews written: {{ count }}</p> 
<br>
{% if is_admin == False %}
    <form action="/delete_user/{{ user_id }}" method=POST>
        <input type="submit" value="Delete user" name="delete" onClick="return confirmSubmit()">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endif %}

<a href="/">Back to front page</a>
</body>
</html>